body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

h1 {
  padding: 2rem;
}

h2 {
  text-align: center;
}

.card {
  width: 150%;
  margin: 1rem auto;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
}

.list-group {
  width: 100%;
  margin: 1rem auto;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}